<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Rails-7-App", root_path, class: "navbar-brand active", style:"color:#fff; font-size:28" %>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "About", root_path, class: "nav-link active"%>
        </li>
      </ul>
      <ul class="nav navbar-nav my-2 my-lg-0"> 
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email %></a>
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "View Profile", root_path, class:"dropdown-item" %>
                  <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item" %>
                </ul>
          </li>
           <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link active" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active"%>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link active"%>
        <% end %>
      </ul>
    </div>
  </div>
</nav>